$icomoon-font-path: "fonts" !default;

$icon-checked: "\e913";
$icon-input-checked: "\e911";
$icon-facebook: "\e906";
$icon-google: "\e907";
$icon-ok: "\e908";
$icon-rss: "\e909";
$icon-twitter: "\e90a";
$icon-vk: "\e90b";
$icon-phone: "\e912";
$icon-arrow-left: "\e905";
$icon-arrow: "\e904";
$icon-coins: "\e90c";
$icon-graph: "\e90d";
$icon-hand-coin: "\e900";
$icon-mail: "\e90e";
$icon-sale-label: "\e90f";
$icon-telephone: "\e910";
$icon-thumb-up: "\e901";
$icon-clock: "\e902";
$icon-nav-contacts: "\e903";
$icon-skype: "\e91b";

