.owl-prev, .owl-next{
	background: transparent;
	color: $text-inverse-color;
	position: absolute;
	top: 45%;
	left: 5%;
	&:hover,
	&.active{
		background: transparent;
		&:before{
			color: $brand-color;
		}
	}
	&:before{
		content: "\e905";
		font-family: 'icomoon';
		font-size: 45px;
		color: $text-inverse-color;
	}
}
.owl-next{
	right: 5%;
	text-align: right;
	left: auto;
	&:before{
		content: "\e904";
	}
}
#owl02{
	.owl-prev, .owl-next{
		left: 0;
		right: 0;
	}
}