$link-color:				#000;
$link-hover-color: 			$link-color;
$headings-font-style: 		normal;
$headings-line-height: 		$line-height-base;
$margin-h1:               	15px 0 !default;
$margin-h2:               	15px 0 !default;
$margin-h3:               	15px 0 !default;
$margin-h4:               	10px 0 !default;


html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
	background: url("../images/bg.png");
	text-shadow: 0 1px 1px rgba($text-color, .5);
}
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	width: 100%;
}

p{
	line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  font-style: $headings-font-style;
  line-height: $headings-line-height;
}
h1, .h1 { font-size: $font-size-h1; margin: $margin-h1; }
h2, .h2 { font-size: $font-size-h2; margin: $margin-h2; }
h3, .h3 { font-size: $font-size-h3; margin: $margin-h3; }
h4, .h4 { font-size: $font-size-h4; margin: $margin-h4; }

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }
.center-block		 {margin: 0 auto;}