$brand-color:				#ff7101;
$second-brand-color:        #599bfe;
$text-color:				#000;
$body-bg:					#fff;
$text-inverse-color:		$body-bg;

$font-family-base:			'Microsoft PhagsPa', Helvetica, Tahoma, sans-serif !default;
$font-size-base:			18px;

$font-size-h1:            floor(($font-size-base * 2.7778)); // ~50px
$font-size-h2:            floor(($font-size-base * 2.2222)); // ~40px
$font-size-h3:            ceil(($font-size-base * 1.9444)); // ~35px
$font-size-h4:            ceil(($font-size-base * 1.6667)); // ~30px
$font-size-h5:            ceil(($font-size-base * 1.3333)); // ~24px
$font-size-h3:            $font-size-base; // 18px

$line-height-base:			1.2632;
$headings-font-weight:    	700;

$border-radius-base:      4px;

$opener-color: #1d1d1b;

$text-holder-font-size:		50px;
$text-holder-font-size-lg:		65px;

$nav-shadow-color:     rgba($text-color, .4);

$btn-border:			#fff;
$form-color-dark: 			#000;