@mixin make-info-block($color, $border-color){
	border: 2px solid $border-color;
	[class*="icon-"]{
		color: $color;
	}
}

@mixin placeholder ($color, $font-size, $opacity: 1) {
	&::-webkit-input-placeholder {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&::-moz-placeholder          {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:-moz-placeholder           {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:-ms-input-placeholder      {color:$color; font-size: $font-size; opacity: $opacity; transition: opacity 0.5s;}
	&:focus {
		&::-webkit-input-placeholder {opacity: 0;}
		&::-moz-placeholder          {opacity: 0;}
		&:-moz-placeholder           {opacity: 0;}
		&:-ms-input-placeholder      {opacity: 0;}
	}
}
@mixin color-shadow ($color, $font-size, $font-size-media) {
	@include placeholder($color, $font-size);
	color: $color;
	font-size: $font-size;
}